.table__controller{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1em;
    margin-top: 1em;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    background-color: $white-color;
}

.table__container{
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;

    table {
        border-collapse: collapse;
        width: 100%;

        thead{
            tr{
                th{
                    text-align: left;
                    padding: 16px;
                    color: $font-color;
                    font-family: OpenSansSemiBold;
                }
            }
        }

        tbody{
            tr{
                border-bottom: 1px solid $background-color;
                td{
                    padding: 16px;
                    color: $font-color;
                    background-color: $white-color;
                    font-family: OpenSansRegular;
                }
            }

            tr:hover{
                td{
                    background-color: $background-color;
                    transition: 0.2s linear;
                }
            }

            tr:last-child{
                border: none;
            }

            tr:hover{
                cursor: pointer;
            }

            tr.selected{
                td{
                    background-color: $btn-primary;
                    color: $white-color;
                    transition: 0.2s linear;
                }
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    .table__container{
        width: 100%;
        overflow-x: scroll;
    }
  }