.dashboard-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.charts-container{
    width: 100%;
    display: grid;
    grid-template-columns: 40% 40%;
    gap: 4em;
    justify-content: center;

    .chart__single{
        width: auto;
        height: auto;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1{
            text-align: center;
        }

        canvas{
            width: 400px !important;
            height: 400px !important;
            margin: 0 auto;
        }
    }

    .chart__last{
        grid-column-end: span 2;
        canvas{
            width: 100% !important;
            height: 100% !important;
        }
    }

}