.btn{
    width: 120px;
    height: 44px;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;

    p{
        text-decoration: none;
    }
}

.btn-new{
    border: 1px solid $btn-primary;
    background: $btn-primary;
    color: $white-color;
}

.btn-new:hover{
    background: $btn-primary-hover;
    transition: 0.3s linear;
}

.btn-delete{
    border: 1px solid $border-color;
    background: $background-color;
    color: $border-color;
    cursor: not-allowed;
}

.btn-delete-active{
    border: 1px solid $white-color;
    background: $primary-warning;
    color: $white-color;
}

.btn-delete-active:hover{
    cursor: pointer;
}

.btn-view{
    border: 1px solid $border-color;
    background: $background-color;
    color: $border-color;
    cursor: not-allowed;
}

.btn-view-active{
    border: 1px solid $white-color;
    background: $btn-primary;
    color: $white-color;
}

.btn-view-active:hover{
    background: $btn-primary-hover;
    transition: 0.3s linear;
    cursor: pointer;
}