.btn{
    width: 200px;
    height: 50px;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;

    p{
        text-decoration: none;
    }
}

.btn-new{
    border: 1px solid $white-color;
    background: $primary-orange;
    color: $white-color;
}

.btn-delete{
    border: 1px solid $white-color;
    background: $background-color;
    color: $white-color;
    cursor: not-allowed;
}

.btn-delete-active{
    border: 1px solid $white-color;
    background: $primary-orange;
    color: $white-color;
}

.btn-delete-active:hover{
    cursor: pointer;
}

.btn-view{
    border: 1px solid $white-color;
    background: $background-color;
    color: $white-color;
    cursor: not-allowed;
}

.btn-view-active{
    border: 1px solid $white-color;
    background: $primary-orange;
    color: $white-color;
}

.btn-view-active:hover{
    cursor: pointer;
}