.input-container{
    max-width: 220px;

    .input__default{
        width: 100%;
        padding: 8px 16px;
        border: 2px solid $black-color;
        border-radius: 5px;
        height: 50px;
        background: $white-color;
    }

    .input__default::placeholder{
        font-size: 12pt;
        color: $primary-orange;
    }
}