.input-container{
    max-width: 180px;

    .input__default{
        width: 100%;
        padding: 5px 16px;
        border: none;
        border-radius: 5px;
        height: 44px;
        background-color: $background-color;
    }

    .input__default::placeholder{
        font-size: 12pt;
        color: $font-color;
    }
}

@media only screen and (max-width: 1024px) {
    .input-container{
        width: 100%;
        max-width: 100%;
        margin-bottom: 2em;
    }
  }