.page__header{
    padding: 20px;
    background-color: $black-color;
    border-radius: 10px;

    display: flex;

    justify-content: space-between;

    .buttons{
        display: grid;
        grid-template-columns: auto auto;
        gap: 2em;
    }
}