.page__header{
    padding: 1em;
    background-color: $white-color;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    display: flex;

    justify-content: space-between;

    .buttons{
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 2em;
    }
}

@media only screen and (max-width: 475px) {
    .page__header{
        flex-direction: column;

        .buttons{
            grid-template-columns: auto auto;
            gap: 1em;
        }
    }
  }

  @media only screen and (min-width: 476px) and (max-width: 1024px) {
    .page__header{
        flex-direction: column;

        .buttons{
            grid-template-columns: auto auto auto;
            gap: 1em;
            justify-content: space-between;
        }
    }
  }