.page__selector{
    nav{
        display: flex;
    }

    .pagination{
        list-style: none;
        padding: 0;

        display: flex;

        .page-item{
            
            .page-link{
                border: 1px solid $font-color;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 30px;
                width: 30px;
                border-radius: 5px;
                text-decoration: none;
                color: $font-color;
            }

            .page-link:hover{
                cursor: pointer
            }
        }

        .page-item__active{
            .page-link{
                border: 1px solid $btn-primary;
                color: $btn-primary;
                background: $background-color;
            }
        }
    }
}

