@font-face {
    font-family: OpenSansRegular;
    src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: OpenSansSemiBold;
    src: url('../fonts/OpenSans-SemiBold.ttf');
}

@font-face {
    font-family: OpenSansBold;
    src: url('../fonts/OpenSans-Bold.ttf');
}