$black-color: #161624;
$white-color: #ffffff;
$border-color: #9b9b9b;

$font-color: #767676;

$background-color: #f0f2fa;
$primary-orange: #D47E6C;
$primary-warning: #dc3545;

$btn-primary: #135488;
$btn-primary-hover: #161624;
$btn-disabled: transparent;