@import './variables';

@import './fonts';

@import './components/header.scss';

@import './components/sidebar.scss';

@import './components/container.scss';

@import './components/objectContainer.scss';

@import './components/button.scss';

@import './components/input.scss';

@import './components/pagecontainer.scss';

@import './components/pagination.scss';

@import './components/results.scss';

@import './components/formComponent.scss';

@import './components/modal.scss';

@import './components/activityIndicator.scss';

@import './components/backdrop.scss';

@import './components/card.scss';

@import './pages/clientsTable.scss';

@import './pages/dashboard.scss';


body, html{
    padding: 0;
    margin: 0;

    background: $background-color;
    height: 100%;
    overflow-x: hidden;
}

html{
    overflow-x: hidden;
}

*{
    box-sizing: border-box;
    margin: 0;
    font-family: open-sans;
}

span, p, li, div, input, label, button, a, h1, h2, h3, h4, h5, h6, select, option{
    font-size: 12pt;
    line-height: 14pt;

    font-family: OpenSansRegular !important;
}

th{
    font-size: 12pt;
}

td{
    font-size: 10pt;
}

#root{
    position: relative;
    height: auto;
    min-height: 100vh;
}